<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (locals.user) { %>

      <% for(var i=0; i<registries.length; i++) {%>
         <li><%= registries[i].jobId %></li>
         <li><%= registries[i].token %></li>
         <li><%= registries[i].status %></li>
      <% } %>
    <% } else{%>
        Don't has data!
    <% } %>

  </body>
</html>
